    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
        list-style: none;
        text-decoration: none;
        scroll-behavior: smooth;
    }

    :root {
        --bg-color: #ffffff;
        --text-color: #000000;
        --second-color: #a09dab;
        --third-color: #ff4500;
        --4th-color: #4b4b4b;
        --5th-color: #1b1b1b1b;
        --main-color: #f75023;
        --big-font:5rem;
        --h1-font:3.5rem;
        --h2-font:3rem;
        --h5-font:20px;
        --p-font:1.1rem
    }

    body{
        background: var(--bg-color);
        color: var(--text-color);
    }

/*----HeaderSectionCSS------------------------------------------------------------------------------------------------*/

        header {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        padding: 30px 10%;
        transition: .3s;
    }

        header .sticky {
            background: var(--bg-color);
            padding: 13px 18%;
            box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        }

    .logo img {
        max-width: 100%;
        width: 70px;
        height: auto;
    }

    .nav-links {
        display: flex;
    }

    .nav-links li {
        position: relative;
    }

    .nav-links a {
        font-size: var(--p-font);
        color: var(--text-color);
        font-weight: 500;
        padding: 10px 25px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .nav-links a:hover {
        color: #800000;
        /*background: #a09dab;*/
    }

    .nav-links a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: var(--main-color);
        bottom: -3px;
        left: 5px;
        /*transition: ease .60s;*/
    }

    .nav-links a:hover::after {
        width: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        right: 0;
        transition: ease .60s;
    }

    #menu-icon {
        font-size: 40px;
        color: var(--text-color);
        z-index: 10001;
        cursor: pointer;
        display: none;
    }

    .top-btn {
        display: inline-block;
        padding: 5px 15px;
        background: transparent;
        border: 2px solid #8b0000;
        border-radius: 30px;
        color: var(--text-color);
        letter-spacing: 1px;
        font-size: var(--p-font);
        font-weight: 500;
        transition: ease .60s;
        text-transform: capitalize;
    }

    .top-btn:hover {
        transform: scale(1.1);
        background: black;
        border: 2px solid transparent;
        color: #ff0000;
    }


/*----HomeSectionCSS--------------------------------------------------------------------------------------------------*/

    section {
        padding: 150px 20%;
        margin-top: 30px;
    }

    .home-sec {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        background: url("Gallery/Background01.jpg") center;
        background-size: cover;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        grid-gap: 4rem;
    }

    .home-sec-text h1 {
        margin: 10px 0px 20px;
        font-size: var(--h1-font);
        line-height: 1;
        font-weight: 500;
        text-transform: capitalize;
    }

    .home-sec-text h3 {
        margin: 10px 0px 25px;
        font-size: var(--h5-font);
        line-height: 1;
        font-weight: 500;
        text-transform: capitalize;
        color: #8b0000;
    }

    .home-sec-text h5 {
        margin-bottom: 20px;
        font-size: var(--h5-font) ;
        font-weight: 500;
        text-transform: capitalize;
    }

    span {
        color: #8b0000;
        background-color: #4b4b4b4b;
        width: fit-content;
    }

    .home-sec-text p {
        font-size: var(--p-font);
        line-height: 25px;
        margin-bottom: 20px;
    }

    .social-media-icons a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #8b0000;
        /*background: rgba(255,0,0);*/
        font-size: 20px;
        color: #ffffff;
        margin-right: 10px;
        margin-left: 5px;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .social-media-icons a:hover {
        transform: scale(1.1);
        background: var(--third-color);
        transition: .5s;
    }

    .about-btn {
        display: inline-block;
        color: #8b0000;
        background: #4b4b4b4b;
        text-transform: uppercase;
        font-size: var(--p-font);
        padding: 5px 40px;  /*top to bottom; left to right*/
        font-weight: 500;
        line-height: 25px;
        border-radius: 30px;
        transition: ease .40s;
    }

    .about-btn:hover {
        transform: scale(1.1);
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
    }

    .home-sec-img {
        max-width: 100%;
        width: 350px;
        height: auto;
    }

    header {
        background: var(--bg-color);
        padding: 5px 10%;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    }

/*----ServiceSectionCSS-----------------------------------------------------------------------------------------------*/

    .serv-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        grid-gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .serv-areas {
        padding: 20px 20px 20px 20px;
        transition: ease .50s;
        cursor: pointer;
    }

    .serv-areas h3 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
        color: #1b1b1b;
    }

    .serv-areas p {
        font-size: var(--p-font);
        color: var(--4th-color);
        line-height: 29px;
    }

    .serv-areas p:hover{
        color: #1b1b1b;
    }

    .serv-areas:hover {
        background: var(--5th-color);
        color: #8b0000;
        box-shadow: 20px 0 90px 0px;
        border-radius: 5px;
        transition: ease-in .60s;
        transform: translate(0, -15px);
    }

    .serv-img img {
        max-width: 100%;
        width: 200px;
        height: auto;
        margin-bottom: 25px;
    }

/*----AboutSectionCSS-------------------------------------------------------------------------------------------------*/

    .abt-sec {
        /*padding: 0 20%;*/
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        align-items: center;
        grid-gap: 2rem;
        min-height: 80vh;
        height: 100%;
        width: 100%;
        background: url("Gallery/Desk_2.jpg") center;
        background-size: cover;
        position: relative;
    }

    .abt-sec-img {
        max-width: 100%;
        width: 350px;
        height: auto;
    }

    .abt-sec-text h2 {
        font-size: var(--h2-font);
        font-weight: 500;
        margin: 8px 0px 30px;
        line-height: 1;
        text-transform: capitalize;
    }

    .abt-sec-text h3 {
        text-transform: capitalize;
        color: #8b0000;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .abt-sec-text p {
        max-width: 300px;
        font-size: var(--p-font);
        color: var(--4th-color);
        line-height: 30px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .abt-sec-text p:hover {
        color: #1b1b1b;
    }

/*----MyworkSectionCSS------------------------------------------------------------------------------------------------*/

    .my-work-sec {
        margin-bottom: 0px;
    }

    .my-work-sec-heading {
        text-align: center;
    }

    .my-work-sec-heading h3{
        font-size: 30px;
        font-weight: 500;
        color: #8b0000;
        text-transform: capitalize;
    }

    .my-work-sec-heading h2 {
        font-size: var(--h2-font);
        font-weight: 500;
        text-transform: capitalize;
        margin: 7px 0px 20px;
        line-height: 1.2;
    }

    .my-work-sec-heading p {
        font-size: var(--p-font);
        color: var(--4th-color);
        line-height: 25px ;
    }

    .my-work-sec-samples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-gap: 2rem;
        align-items: center;
        margin-top: 5rem;
        text-align: center;
        cursor: pointer;
    }

    .col {
        position: relative;
    }

    .col img {
        max-width: 100%;
        width: 350px;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
    }

    .my-work-sec-layer {
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        transition: all .60s;
    }

    .my-work-sec-layer:hover {
        background: linear-gradient(rgba(0,0,0,0.5) 0%, #696969);
        /*box-shadow: 0px 0px 50px 10px;*/
        transition: all .40s;
    }

   .my-work-sec-layer h3 {
       position: absolute;
       width: 100%;
       font-size: 25px;
       font-weight: 500;
       color: var(--bg-color);
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       opacity: 0;
       transition: all .60s;
       text-transform: capitalize;
   }

   .my-work-sec-layer:hover h3 {
       bottom: 52%;
       opacity: 1;
   }

    .my-work-sec-layer h5 {
        position: absolute;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        color: var(--bg-color);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all .60s;
        text-transform: capitalize;
    }

    .my-work-sec-layer:hover h5 {
        bottom: 42%;
        opacity: 1;
    }

    .hr1 {
        border: 0;
        height: 3px;
        /*background: #095484;*/
        background-image: linear-gradient(to right, #8b0000, #ccc, #8b0000, #ccc, #000);
    }

/*----MyExpertiseSection----------------------------------------------------------------------------------------------*/

    .expert-sec {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        background: url("Gallery/Background01.jpg") center;
        background-size: cover;
        margin-top: 0;
    }

    .expert-sec-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        grid-gap: 2rem;
        align-items: center;
        margin-top: 5rem;
        box-shadow: 90px 0px 90px 0px rgb(10 15 75 / 8%);
    }

    .row {
        background: #ffffff;
        box-shadow: 20px 0px 90px 0px rgb(10 15 75 / 8%);
        border-radius: 15px;
        padding: 45px 45px 45px 45px;
        transition: ease .45s;
        cursor: pointer;
    }

    .row img {
        height: 100px;
        width: 100px;
        background: #8b0000;
        padding: 15px;
        border-radius: 5%;
        margin-bottom: 20px;
    }

    .expert-sec-box1 img {
        /*background: #f75124;*/
        background: darkorange;
    }

    .expert-sec-box2 img {
        background: #baedcd;
    }

    .expert-sec-box3 img {
        background: #edeade;
    }

    .expert-sec-box4 img {
        /*background: #301934;*/
        background: #add8e6;
    }

    .row h3 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 4px;
        text-transform: capitalize;
    }

    .row h5 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .row p {
        /*font-size: var(--p-font);*/
        line-height: 25px;
    }

    .row:hover {
        transform: scale(1.1);
        background: var(--third-color);
        transition: .9s;
        box-shadow: 15px 0 90px 0px;
    }

    .row:hover p {
        color: var(--bg-color);
    }

    .row span {
        background: transparent;
    }

    .row:hover span {
        color: #28282B;
    }

    .row:hover h3 {
        color: #faf9f6;
    }

    .row:hover img {
        background: #fbceb1;
    }

/*----Webpage Media Query CSS-----------------------------------------------------------------------------------------*/

        @media screen and (max-width: 1425px) {
            header {
                padding: 12px 5%;
                transition: .3s;
            }

            header .sticky {
                padding: 10px 3%;
                transition: .3s;
            }

            section {
                padding: 150px 20%;
                transition: 3s;
            }

            :root {
                --big-font: 3.5rem;
                --h2-font: 2.1rem;
                --p-font: 1rem;
                transition: .3s;
            }
        }

        @media screen and (max-width: 970px) {
            #menu-icon {
                display: block;
            }

            .home-sec {
                min-height: 80vh;
            }

            .nav-links {
                position: absolute;
                top: -600px;
                left: 0;
                right: 0;
                flex-direction: column;
                background: var(--main-color);
                text-align: right;
                transition: all .40s;
            }

            .nav-links a {
                display: block;
                padding: 1.2rem;
                margin: 1.5rem;
                border-right: 2px solid var(--bg-color);
                color: var(--bg-color);
            }

            .nav-links a:hover {
                background: var(--bg-color);
                color: var(--main-color);
            }

            .nav-links a::after {
                display: none;
            }

            .nav-links.active {
                top: 100%;
            }
        }

        @media screen and (max-width: 800px) {
            .home-sec {
                grid-template-columns: 1fr;
                min-height: 130vh;
                grid-gap: 1rem;
            }

            .home-sec-text {
                padding-top: 55px;
            }

            .home-sec-img {
                margin: auto;
                width: 100%;
            }

            .home-sec-img img {
                width: 400px;
                height: auto;
            }

            .abt-sec {
                grid-template-columns: 1fr; /*A fraction or 1FR is 100% of the available space.*/
            }

            .abt-sec-img {
                text-align: center;
                margin-bottom: 30px;
                width: 100%;
            }

            .abt-sec-text {
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            .abt-sec-text p {
                margin: auto;
                width: 100%;
                padding-bottom: 30px;
            }

            :root {
                --big-font: 3.1rem;
                --h2-font: 2rem;
            }

            section {
                padding: 65px 3%;
                transition: .3s;
            }
        }

    @media screen and (max-width: 540px) {

    }


/*----Contact Section CSS---------------------------------------------------------------------------------------------*/

    .contact-sec {
        margin-top: 0px;
        padding-top: 150px;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /*background: #a09dab;*/
        /*!*background: #696969;*!*/
    }

    .container {
        width: 100%;
        padding: 30px 60px 40px 40px;
        background: #d6d6d6;
        border-radius: 10px;
        margin-top: 100px;
        box-shadow: 20px 0px 90px 0px rgb(10 15 75 / 8%);
    }

    .container .topic {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .container .contact-info-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container .contact-info-content .contact-form-left {
        width: 25%;
        height: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .contact-info-content .contact-form-left::before {
        content: '';
        position: absolute;
        height: 70%;
        width: 2px;
        right: -32px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--main-color);
    }

    .contact-info-content .contact-form-left .contact-info {
        margin: 15px;
        text-align: center;
    }

    .contact-info-content .contact-form-left .contact-info i {
        font-size: 30px;
        color: #8b0000;
        margin-bottom: 10px;
    }

    .contact-info-content .contact-form-left .contact-info .text-one,
    .contact-info-content .contact-form-left .contact-info .text-two {
        font-size: 15px;
        /*font-weight: 250;*/
    }

    .container .contact-info-content .contact-form-right {
        width: 70%;
        margin-left: 80px;
    }

    .contact-info-content .contact-form-right .topic-text {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: capitalize;
        color: #8b0000;
    }

    .contact-form-right .message-box {
        min-height: 100px;
        margin-top: 5px;
    }

    .form-input {
        height: 40px;
        width: 100%;
        margin: 10px 0;
    }

   .form-input input,
   .form-input textarea {
       height: 100%;
       width: 100%;
       background: var(--bg-color);
       border: none ;
       border-radius: 5px;
       font-size: 15px;
       font-weight: 500;
       padding: 0 15px;
       resize: none;
   }

    .form-button {
        display: inline-block;
        color: #8b0000;
        background: #4b4b4b4b;
        text-transform: uppercase;
        font-size: var(--p-font);
        padding: 5px 20px;  /*top to bottom; left to right*/
        font-weight: 500;
        line-height: 25px;
        border-radius: 30px;
        transition: all ease .40s;
        cursor: pointer;
        margin-top: 15px;
    }

    .form-button:hover {
        /*transform: scale(1.1);*/
        background: black;
        /*border: 0px solid transparent;*/
        color: #ff0000;
    }

/*----Contact Media Query CSS-----------------------------------------------------------------------------------------*/

/*    @media (max-width: 950px) {*/
/*        .container {*/
/*            width: 90px;*/
/*            padding: 30px 35px 40px 35px;*/
/*        }*/
/*    }*/

    /*@media (max-width: 820px) {*/
    /*    .container {*/
    /*        margin: 40px 0;*/
    /*        height: 100%;*/
    /*    }*/

    /*    .container .contact-info-content {*/
    /*        flex-direction: column-reverse;*/
    /*    }*/

    /*    .container .contact-info-content .contact-form-left {*/
    /*        width: 100%;*/
    /*        flex-direction: row;*/
    /*        margin-top: 40px;*/
    /*        justify-content: center;*/
    /*        flex-wrap: wrap;*/
    /*    }*/

    /*    .container .contact-info-content .contact-form-left::before {*/
    /*        display: none;*/
    /*    }*/

    /*    .container .contact-info-content .contact-form-right {*/
    /*        width: 100%;*/
    /*        margin-left: 0;*/
    /*    }*/
    /*}*/


/*----Footer Section CSS----------------------------------------------------------------------------------------------*/

    .footer-sec {
        display: grid;
        justify-content: center;
        align-items: end;
        min-height: 100vh;
        background: #28282B;
        color: #f1f1f1;
        padding: 50px ;
    }

    footer {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px ;
        background: transparent;
    }

    footer .container-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-gap: 25px;
    }

    footer h3 {
        font-size: var(--h5-font);
        text-transform: uppercase;
        color: var(--main-color);
        margin-bottom: 3rem;
        position: relative;
    }

    footer .container-1 .sec p {
        color: #ffffff;
    }

    footer .container-1 .sci {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(5, 50px);
    }

    footer .container-1 .sci li {
        list-style: none;
        cursor: pointer;
    }

    footer .container-1 .sci li a {
        /*display: inline-block;*/
        display: grid;
        width: 35px;
        height: 35px;
        background: #f1f1f1;
        align-content: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        list-style: none;
    }

    footer .container-1 .sci li a:hover {
        background: var(--main-color);
    }

    footer .container-1 .sci li a i {
        /*color: #1b1b1b;*/
        color: #8b0000;
        font-size: 25px;
        margin: auto;
        cursor: pointer;
    }

    footer .container-1 .sci li a i:hover{
        color: var(--bg-color);
    }

    footer .container-1 .quick-links {
        position: relative;
    }

    footer .container-1 .quick-links ul li {
        list-style: none;
    }

    footer .container-1 .quick-links ul li a {
        margin-bottom: 20px;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        text-transform: capitalize;
        cursor: pointer;
    }

    footer .container-1 .quick-links ul li a:hover {
        color: #8b0000;
    }

    footer .container-1 .contact-infor {
        position: relative;
    }

    footer .container-1 .contact-infor li {
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-bottom: 16px;
        list-style: none;
    }

    footer .container-1 .contact-infor li span {
        /*background: #f1f1f1;*/
        background: transparent;
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: center;
    }

    footer .container-1 .contact-infor li span i {
        color: #8b0000;
        font-size: 23px;
        text-align: center;
        background: #f1f1f1;
        height: 35px;
        width: 35px;
        align-content: center;
        justify-content: center;
        /*border-radius: 50%;*/
        padding-top: 3px;
        cursor: pointer;
    }

    footer .container-1 .contact-infor li span i:hover {
        background: var(--main-color);
        color: var(--bg-color);
    }

    footer .container-1 .contact-infor li a {
        text-decoration: none;
        margin-left: 10px;
        display: inline-block;
        padding-top: 3px;
        pointer-events: none; /*this disables the link from being active.*/
    }

    .copyright-text {
        width: 100%;
        padding: 20px 100px 30px;
        text-align: center;
        border-top: 1px solid var(--main-color);
    }

/*----Footer Media Query CSS-----------------------------------------------------------------------------------------*/

    @media screen and (max-width: 991px) {
        footer {
            padding: 40px;
        }

        footer .container-1 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        .copyright-text {
            padding: 20px 40px 30px;
        }
    }

    @media screen and (max-width: 768px) {
        footer .container-1 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }






    /*.footer-sec .container {*/
    /*    background: #353935;*/
    /*    color: white;*/
    /*    !*background: none;*!*/
    /*    !*box-shadow: none;*!*/
    /*}*/





